manifest {
    name        = 'bacteria-plasmid-comparison-pipeline'
    description = 'HCL-IAI, Bacteria Plasmid Comparison Pipeline'
    author      = 'Aurélie Fischer (PHE3ID, CIRI, Hospices civils de Lyon)'
    homePage    = 'https://github.com/rasigadelab/bashpipes'
    mainScript  = 'main.nf'
    version     = '1.0.0'
}

params {
    nfpath = '/srv/scratch/lapendryau/transmission_aurelie/pipelines/Plasmid_pipe/src'
    help = false
}

process {
    withLabel : gather{
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : map{
        container = "/srv/scratch/lapendryau/transmission_aurelie/containers/quast_5.3.0.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : circos{
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : circos_config{
        container = "/srv/scratch/lapendryau/transmission_aurelie/containers/python_3.14.6.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : rerun_circos{
        container = "/srv/scratch/lapendryau/transmission_aurelie/containers/circos_0.69.9.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : highCPU {
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : lowCPU {
        memory = '2GB'
        cpus = 1
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }
   
}

profiles {
    standard {
        process.executor = 'local'
        process.cpus = 5
        process.memory = '5GB'
    }

    developer {
        process.executor = 'local'
        process.cpus = 8
        process.memory = '2GB'
    }

}

singularity {
    enabled = true
    runOptions = '--bind /srv/scratch/lapendryau/transmission_aurelie,/run:/run'
}
