manifest {
    description = 'HCL-IAI, Bacteria Phylogeny Pipeline'
}

params {
    nfpath = 'Nextflow_scripts/src'
    help = false
}

process {
    withLabel : mash {
        container = "src/singularity/mash.sif"
        memory = '1GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : r_analysis {
        container = "src/singularity/r_analysis.sif"
        memory = '1GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : highCPU {
        container : ""
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : lowCPU {
        container : ""
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : repeatmasker {
        container : ""
        memory = '5GB'
        cpus = 5
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : snippy {
        container : ""
        memory = '5GB'
        cpus = 5
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : map_and_sort {
        container : ""
        memory = '1GB'
        cpus = 8
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : gubbins {
        container = "singularity/gubbins.sif"
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }
}

profiles {
    standard {
        process.executor = 'local'
        process.cpus = 8
        process.memory = '5GB'
    }

    developer {
        process.executor = 'local'
        process.cpus = 8
        process.memory = '2GB'
    }

}

singularity {
    enabled = true
    autoMount = false
    runOptions = '--bind Documents,/run/shm:/run/shm'
}
