manifest {
    description = 'HCL-IAI, Bacteria Sequencing Analysis Pipeline'
}

params {
    nfpath = 'Nextflow_scripts/src'
    help = false
}

process {
    withLabel : highCPU {
        container : ""
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : lowCPU {
        container : ""
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }
   
}

profiles {
    standard {
        process.executor = 'local'
        process.cpus = 5
        process.memory = '5GB'
    }

    developer {
        process.executor = 'local'
        process.cpus = 8
        process.memory = '2GB'
    }

}

