manifest {
    description = 'HCL-IAI, Bacteria Phylogeny Pipeline'
}

params {
    nfpath = '/mnt/c/Users/admin/Documents/Projets/10.Phylogeny_pipeline'
    help = false
}

process {
    withLabel : highCPU {
        container : ""
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : lowCPU {
        container : ""
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : prokka {
        container : ""
        memory = '10GB'
        cpus = 15
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }
}

profiles {
    standard {
        process.executor = 'local'
        process.cpus = 48 
        process.memory = '200GB'
    }

    developer {
        process.executor = 'local'
        process.cpus = 8
        process.memory = '2GB'
    }

}
