conda.enabled = true

profiles {
    standard {
        process.executor = 'local'
        process.cpus = 48 
        process.memory = '100GB'
        process.conda = '/mnt/c/Users/admin/Documents/Projets/4.Pipeline_improvements/2.Nextflow_pipeline/spec.yaml'
    }

}

conda {
    useMamba = true
}