manifest {
    description = 'HCL-IAI, Bacteria Sequencing Analysis Pipeline'
}

params {
    nfpath = '/home/afischer/genepii_like'
    help = false
}

process {
    withLabel : denovo {
        container : ""
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }
}

profiles {
    standard {
        process.executor = 'local'
        process.cpus = 48 
        process.memory = '100GB'
    }

    developer {
        process.executor = 'local'
        process.cpus = 8
        process.memory = '2GB'
    }

}