manifest {
    description = 'HCL-IAI, Bacteria Sequencing Analysis Pipeline'
}

params {
    nfpath = 'Pipeline_code'
    help = false
}

process {
    withLabel : fastp{
        container = "singularity/tuto/fastp.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : trim {
        container = "singularity/tuto/trimmomatic.sif"
        memory = '10GB'
        cpus = 5
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : nanoplot {
        container = "singularity/tuto/nanoplot.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : filtlong {
        container = "singularity/tuto/filtlong.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : flye {
        container = "singularity/tuto/flye.sif"
        memory = '10GB'
        cpus = 4
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : spades {
        container = "singularity/tuto/spades.sif"
        memory = '50GB'
        cpus = 10
        maxForks = 4
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : bbmap {
        container = "singularity/tuto/bbtools.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : map_and_sort {
        container = "singularity/tuto/bowtie2.sif"
        memory = '4GB'
        cpus = 48
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : pilon {
        container = "singularity/tuto/pilon.sif"
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : quast {
        container = "singularity/tuto/quast.sif"
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : circlator {
        container = "singularity/tuto/circlator.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : mlst {
        container = "singularity/tuto/mlst.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : sourmash {
        container = "singularity/tuto/sourmash.sif"
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : amrfinder {
        container = "singularity/tuto/amrfinder.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : bakta {
        container = "singularity/tuto/bakta.sif"
        memory = '50GB'
        cpus = 10
        maxForks = 4
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : mob_recon {
        container = "singularity/tuto/mob_suite.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : highCPU {
        container : ""
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : lowCPU {
        container : ""
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }
   
}

profiles {
    standard {
        process.executor = 'local'
        process.cpus = 48
        process.memory = '200GB'
    }

    developer {
        process.executor = 'local'
        process.cpus = 8
        process.memory = '2GB'
    }

}

singularity {
    enabled = true
    autoMount = false
    runOptions = '--bind /mnt/c/Users/admin/Documents,/run/shm:/run/shm'
}
