manifest {
    description = 'HCL-IAI, Bacteria Sequencing Analysis Pipeline'
}

params {
    nfpath = '/mnt/c/Users/admin/Documents/Projets/4.Pipeline_improvements/2.Nextflow_pipeline'
    help = false
}

process {
    withLabel : denovo {
        container : ""
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

        withLabel : spades {
        container : ""
        memory = '50GB'
        cpus = 10
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }
}

profiles {
    standard {
        process.executor = 'local'
        process.cpus = 48 
        process.memory = '100GB'
    }

    developer {
        process.executor = 'local'
        process.cpus = 8
        process.memory = '2GB'
    }

}