manifest {
    description = 'HCL-IAI, Bacteria Sequencing Analysis Pipeline'
}

params {
    nfpath = '/data/bashpipes-main/Illumina_only_pipe/src'
    help = false
}

process {
    withLabel : fastp{
        container = "/data/containers/fastp.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : trim {
        container = "/data/containers/trimmomatic.sif"
        memory = '10GB'
        cpus = 5
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : resync {
        container = "src/singularity/bbtools.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : spades {
        container = "/data/containers/spades.sif"
        memory = '50GB'
        cpus = 10
        maxForks = 4
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : bbmap {
        container = "/data/containers/bbtools.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : quast {
        container = "/data/containers/quast.sif"
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : circlator {
        container = "/data/containers/circlator.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : mlst {
        container = "/data/containers/mlst.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : sourmash {
        container = "/data/containers/sourmash.sif"
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : amrfinder {
        container = "/data/containers/amrfinder.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : bakta {
        container = "/data/containers/bakta.sif"
        cpus = 40
        memory = { task.attempt > 1 ? '100 GB' : '50 GB' }
        time = '15m'
        maxForks = 4
        errorStrategy = { task.exitStatus == 137 || task.exitStatus == 143 || task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 2 
    }

    withLabel : mob_recon {
        container = "/data/containers/mob_suite.sif"
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : highCPU {
        container : ""
        maxForks = 16
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }

    withLabel : lowCPU {
        container : ""
        memory = '2GB'
        cpus = 1
        maxForks = 40
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5 
    }
   
}

profiles {
    standard {
        process.executor = 'local'
        process.cpus = 92
        process.memory = '1000GB'
    }

    developer {
        process.executor = 'local'
        process.cpus = 8
        process.memory = '2GB'
    }

}

singularity {
    enabled = true
    autoMount = false
    runOptions = '--bind /data,/run:/run'
}
